
<div class="app">

  <section class="page-section top">
    <div class="traffic-light-container">
      <app-traffic-light name="W-E"></app-traffic-light>
      <app-traffic-light name="N-S"></app-traffic-light>
     
    </div>
  </section>

    <section class="page-section center">
      <div class="junction-container">
        <app-junction ></app-junction>
      </div>
    
    </section>

    <section class="page-section bottom">
      <div class="action-buttons-cars-panel">
        <div class="add-cars-title">Add / Remove cars:</div>
        <div class="action-btn-container">
          <section class="action-btn-section">
            <div class="action-cars-btn" (click)="addTraffic('fromNorth')">North to South +</div>
            <div class="action-cars-btn" (click)="addTraffic('fromEast')">East to west +</div>
          </section>
          <section  class="action-btn-section">
            <div class="action-cars-btn" [class]="{'disabled': northCars <= 0}" (click)="removeTraffic('fromNorth')">North to South -</div>
            <div class="action-cars-btn" [class]="{'disabled': eastCars <= 0}" (click)="removeTraffic('fromEast')">East to west -</div>
          </section>
        </div>

      </div>
    </section>

    Notice important Info:
    <ol>
      <li> Cars arrive automatically at each road every 10 to 30 seconds.</li>
      <li> Each arrival brings between 3 to 7 cars.</li>
      <li> Cars are randomly distributed between the two roads.</li>
      <li> The traffic light prioritizes the road with the highest number of cars by giving it the green light.</li>
      <li> The traffic light's next priority check occurs when new data is added or removed via action buttons, or when new cars arrive at the junction randomly, or when one of the roads has zero cars.</li>
      <li> The app initializes with 5 cars on the North road and 3 cars on the West road, so users may need to wait between 10 to 30 seconds to observe additional traffic.</li>
      <li> Each car takes 2 seconds to cross the junction.</li>
    </ol>
</div>

     
   